@media screen and ( max-width: 1350px )
    html
        font-size: 10px
    .nav
        &__item
            margin-right: 1rem
    .menu
        &__logo
            margin-left: 0
    
    
@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none

@media screen and ( max-width: 992px )
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .row
        flex-direction: column
        align-items: center
    .col 
        margin-bottom: 15rem
        margin-top: 3.333rem
    .card
        &__text
            margin-left: 0
            left: 0
    .nav
        &__item
            display: none
    .calculation__col
        display: none
    .calculation
        &__economy
            display: none
    .style__row
        display: none

@media screen and ( max-width: 570px )
    .contacts
        &__button
            display: none
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
    .hero
        &__button
            display: block
            min-width: 22.8rem
            margin-bottom: 1.85rem
            padding: 16px 18px
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__content
            max-width: 22.85rem 
        &__scroll-down
            display: none
    .title
        font-size: 1.64rem
        max-width: 22rem 
    .projects__section-title__text
        display: none
    .card__text
        padding: 0
    .col-30
        width: 100%
    .col-50
        width: 100%
    .col-70
        width: 100%
    .client
        &__card
            flex-direction: column
            justify-content: space-between
        &__wrap
            margin-top: 12rem
    .card
        margin-bottom: 10rem
         
    